{% extends "page.njk" %}

{% block pageMenuContent %}
  <div>
    <ul class="landing-menu-content">
      <li class="landing-menu-header">Selected Works</li>
      {% for project in projects %}
        <li>
          <a href="/{{ project.path }}">
            {{ project.title }}
          </a>
        </li>
      {% endfor %}
      <li><hr /></li>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>
{% endblock pageMenuContent %}

{% block pageSidebar %}
  <h1 class="about-title">{{ title }}</h1>
  {% include "includes/about_content.njk" %}
{% endblock pageSidebar %}

{% block pageContent %}
  <div class="about-photo-wrapper">
    <img class="about-photo" src="/images/{{ photo }}" />
    <div class="about-mobile-text">
      {% include "includes/about_content.njk" %}
    </div>
  </div>
{% endblock pageContent %}
