{% extends "base.njk" %}

{% block extraCSS %}
  <style>
    {% for project in projects %}
      {% if project.splash.title_color %}
        #{{ project.path | replace("/", "-") }} > .landing-title > a {
          color: {{ project.splash.title_color }} 
        }
      {% endif %}
      {% if project.splash.title_hover %}
        #{{ project.path | replace("/", "-") }} > .landing-title > a:hover {
          color: {{ project.splash.title_hover }} 
        }
      {% endif %}
    {% endfor %}
  </style>
  <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
{% endblock extraCSS %}

{% block content %}
  <div class="menu-overlay" id="menu-overlay">
    <ul class="landing-menu-content">
      <li class="landing-menu-header">Selected Works</li>
      {% for project in projects %}
        <li>
          <a href="{{ project.path }}">
            {{ project.title }}
          </a>
        </li>
      {% endfor %}
      <li><hr /></li>
      {% for page in pages %}
        <li>
          <a href="{{ page.path }}">
            {{ page.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="landing-video last" id="{{ projects[0].path | replace("/", "-") }}">
    <video data-dashjs-player autoplay muted loop poster="/images/{{ projects[0].splash.poster }}">
      <source src="/videos/{{ projects[0].splash.dash }}" type="application/dash+xml">
      <source src="/videos/{{ projects[0].splash.webm }}" type="video/webm">
      <source src="/videos/{{ projects[0].splash.mp4 }}" type="video/mp4">
    </video>
    <h1 class="landing-title">
      <a href="{{ projects[0].path }}">
        {{ projects[0].title }}
      </a>
    </h1>
  </div>

  {% include "includes/menu.njk" %}
{% endblock content %}

{% block extraJS %}
  <script>
    var projects = [
      {% for project in projects %}
        {
          title: '{{ project.title }}',
          webm: '/videos/{{ project.splash.webm }}',
          mp4: '/videos/{{ project.splash.mp4 }}',
          id: '{{ project.path | replace("/", "-") }}',
          path: '{{ project.path }}',
          dash: '/videos/{{ project.splash.dash}}',
          poster: '/images/{{ project.splash.poster }}',
        },
      {% endfor %}
    ];
  </script>
  {% for js in webpack.landing %}
    <script src="/{{ js }}"></script>
  {% endfor %}
{% endblock extraJS %}
